#div-bg {
  height: 1000px;
  background-color: #32502E;
  align-content: center;
  display: flex;
  justify-content: center;
}

.div-child {
  width: 1000px;
  height: 800px;
  background-color: #406343;
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.container-img {
  display: grid;
  align-content: center;
}

.img {
  height: 150px;
  aspect-ratio: auto;
  margin: 15px;
}

@media screen and (max-width: 1000px) {
  #div-bg {
    height: 100vw;

  }

  .div-child {
    height: 80vw;
    margin-top: 25vw;
  }

  .img {
    height: 15vw;
    margin: 1.5vw;
  }
}