<div id="div-bg">
  <div class="div-child">
    <div class="container-img">
      <img
        class="img"
        src="../../assets/images/gallery/Galery 1-min.png"
        alt=""
      />
      <img
        class="img"
        src="../../assets/images/gallery/Galery 4-min.png"
        alt=""
      />
      <img
        class="img"
        src="../../assets/images/gallery/Galery 7-min.png"
        alt=""
      />
      <img
        class="img"
        src="../../assets/images/gallery/Galery 10-min.png"
        alt=""
      />
    </div>
    <div class="container-img">
      <img
        class="img"
        src="../../assets/images/gallery/Galery 2-min.png"
        alt=""
      />
      <img
        class="img"
        src="../../assets/images/gallery/Galery 5-min.png"
        alt=""
      />
      <img
        class="img"
        src="../../assets/images/gallery/Galery 8-min.png"
        alt=""
      />
      <img
        class="img"
        src="../../assets/images/gallery/Galery 11-min.png"
        alt=""
      />
    </div>
    <div class="container-img">
      <img
        class="img"
        src="../../assets/images/gallery/Galery 3-min.png"
        alt=""
      />
      <img
        class="img"
        src="../../assets/images/gallery/Galery 6-min.png"
        alt=""
      />
      <img
        class="img"
        src="../../assets/images/gallery/Galery 9-min.png"
        alt=""
      />
      <img
        class="img"
        src="../../assets/images/gallery/Galery 12-min.png"
        alt=""
      />
    </div>
  </div>
</div>
