#txt-2,
#txt-3,
#txt-4,
#txt-5,
#txt-7,
#txt-8 {
  text-align: center;
}


#div-bg {
  height: 100vh;
  background-color: #32502E;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 1000px;
  height: 98vh;
  background-color: #406343;
  text-align: center;
}

#txt-title {
  font-family: 'Kadwa';
  margin-top: 20px;
  font-weight: 500;
  color: #fff;
  font-size: 80px;
}

#div-carousel {
  height: 670px;
  display: flex;

}

.img {
  aspect-ratio: auto;
  width: 800px;
  margin-top: 45px;


}

.caption {
  text-align: justify;
  width: 800px;
  margin-left: 100px;
  margin-top: 20px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  #txt-title {
    font-size: 8vw;
  }

  #container {
    height: 98vw;
  }

  .img {
    width: 80vw;
    margin-top: 4.5vw;
  }

  .caption {
    width: 80vw;
    font-size: 1.6vw;
    margin-left: 9vw;
  }

  #div-carousel {
    height: 67vw;
  }
}