#div-bg {
  height: 100vh;
  background-color: #32502E;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 1000px;
  height: 100vh;
  background-color: #406343;
  text-align: center;
}

#txt-title {
  font-family: 'Kadwa';
  margin-top: 3vh;
  font-weight: 500;
  color: #fff;
  font-size: 8.5vh;
  margin-bottom: 1vh;
}

#div-carousel {
  height: 450px;
  display: flex;

}

.img {
  aspect-ratio: auto;
  width: 800px;
  margin-top: 50px;


}

.caption {
  text-align: justify;
  width: 800px;
  margin-left: 5.5vw;
  margin-top: 20px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  /* .caption {
    margin-left: 6vw;
  } */
}