#div-bg {
  height: 1000px;
  background-color: #32502E;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 1000px;
  height: 1000px;
  background-color: #406343;
  text-align: center;
  margin-top: 200px;
}

#txt-title {
  font-family: 'Kadwa';
  margin-top: 20px;
  font-weight: 500;
  color: #fff;
  font-size: 80px;
}

#div-carousel {
  height: 450px;
  display: flex;

}

.img {
  aspect-ratio: auto;
  width: 800px;
  margin-top: 45px;


}

.caption {
  text-align: justify;
  width: 800px;
  margin-left: 100px;
  margin-top: 20px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  #div-bg {
    height: 100vw;
  }

  #txt-title {
    font-size: 8vw;
  }

  #container {
    height: 100vw;
    margin-top: 20vw;
  }

  .img {
    width: 80vw;
    margin-top: 4.5vw;
  }

  .caption {
    width: 80vw;
    font-size: 1.6vw;
    margin-left: 9vw;
  }

  #div-carousel {
    height: 45vw;
  }
}