#div-bg {
  height: 1000px;
  background-color: #32502E;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 1000px;
  height: 1000px;
  background-color: #406343;
  text-align: center;
  margin-top: 200px;
}

.slide {
  margin: 0;
}

#txt-title {
  font-family: 'Kadwa';
  margin-top: 20px;
  font-weight: 500;
  color: #fff;
  font-size: 80px;
}

#div-carousel {
  height: 320px;
  display: flex;
}

.img {
  aspect-ratio: auto;
  width: 800px;
}

p {
  font-size: 20px;
}

.caption {
  text-align: justify;
  width: 800px;
  margin-left: 100px;
  margin-top: 20px;
  color: #fff;
  font-weight: 300;
}

@media screen and (max-width: 1000px) {
  #div-bg {
    height: 100vw;

  }

  #txt-title {
    font-size: 8vw;
    margin-top: 2vw;
  }

  #container {
    margin-top: 40vw;
    height: 120vw;
  }

  .img {
    width: 80vw;
  }

  .caption {
    margin-top: 2vw;
    width: 80vw;
    margin-left: 9vw;


  }

  p {
    font-size: 2vw;

  }

  #div-carousel {
    height: 32vw;
  }
}