#div-bg {
  height: 1200px;
  background-color: #32502E;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrap {
  display: grid;
  align-content: center;
}


.div-child {
  width: 1000px;
  background-color: #406343;
  justify-content: center;
  text-align: center;
  padding-right: 10px;
}


#div-img {
  display: flex;
}


.name {
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  font-family: 'Kadwa';

}

#div-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#person {
  margin-top: 200px;
  height: 450px;
  display: flex;
}


#person2 {
  text-align: end;
}


.img-person {
  aspect-ratio: auto;
  width: 325px;
  margin-top: 10px;
}


#k2 {
  margin-left: 80px;
}

#project {
  height: 340px;
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.txt-title {
  font-family: 'Kadwa';
  font-weight: 500;
  color: #fff;
  font-size: 50px;
}


.paragraph {
  font-family: 'Kadwa';
  font-weight: 400;
  color: white;
  font-size: 32px;
  margin: 0;
}

#paragraph2 {
  margin-top: 20px;
}


@media screen and (max-width: 1000px) {
  #div-bg {
    height: 150vw;

  }

  .img-person {
    width: 32.5vw;
  }

  #div-name {
    font-size: 3vw;
  }

  .name {
    font-size: 2.8vw;
  }

  .txt-title {
    font-size: 5vw;
  }

  #person {
    height: 45vw;
    margin-top: 40vw;
  }

  .paragraph {
    font-size: 3.2vw;
  }

  #project {
    height: 40vw;
    margin-top: 4vw;

  }

  #k2 {
    margin-left: 8vw;
  }

  #paragraph2 {
    margin-top: 2vw;
  }
}