<div id="div-bg">
  <div>
    <div class="div-child" id="person">
      <div class="wrap">
        <div class="txt-title" id="title-person">Key Person</div>
        <div id="div-img">
          <div id="person1">
            <img
              class="img-person"
              id="k1"
              src="../../assets/images/key-person/k1.png"
              alt="key1"
            />
            <div class="name">Ir. Zuwendra</div>
          </div>
          <div id="person2">
            <img
              class="img-person"
              id="k2"
              src="../../assets/images/key-person/k2.png"
              alt="key2"
            />
            <div class="name">Rinto Andhi Suncoko, M.Si</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-child" id="project">
      <div class="div-text">
        <div class="txt-title" id="title-project">ARR Project</div>
        <div class="paragraph" id="paragraph1">
          Mangrove Rehabilitation and Indigenous People Assistence <br />
          in Lombok, West Nusa Tenggara
        </div>
        <div class="paragraph" id="paragraph2">
          Afforestation and Local Economy Inclusion <br />
          in Sukabumi, West Java
        </div>
      </div>
    </div>
  </div>
</div>
