#div-bg {
  height: 100vh;
  background-color: #32502E;
  align-content: center;
  display: grid;
  justify-content: center;
}

.container {
  width: 1000px;
  background-color: #406343;
  display: flex;
  justify-content: center;
}

#person {
  height: 50vh;
  margin-top: 1vh;


}

#project {
  height: 40vh;
  margin-top: 4vh;

}

#txt-title {
  margin-top: 4vh;
  font-weight: 500;
  color: #fff;
  font-size: 7vh;
}