#div-bg {
  height: 100vh;
  background-color: #32502E;
  align-content: center;
  display: grid;
  justify-content: center;
}

.div-child {
  width: 1000px;
  background-color: #406343;
  justify-content: center;
  align-items: center;
}


#div-img {
  display: flex;

}

#div-name {
  display: grid;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-family: 'Kadwa';
  font-size: 30px;
}

.name {
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  font-family: 'Kadwa';

}

#person {
  height: 450px;
  text-align: center;
  display: flex;

}

#person2 {
  display: grid;
  text-align: end;

}


.img-person {
  aspect-ratio: auto;
  width: 325px;
  margin-top: 10px;

}

#k2 {
  margin-left: 80px;
}

#project {
  /* height: 35vh; */
  height: 350px;
  margin-top: 4vh;
  text-align: center;
  display: grid;
  align-content: center;


}

.txt-title {
  font-family: 'Kadwa';
  font-weight: 500;
  color: #fff;
  font-size: 50px;
}


.paragraph {
  font-family: 'Kadwa';
  font-weight: 400;
  color: white;
  font-size: 32px;
  margin: 0;
}


@media screen and (max-width: 1000px) {
  .img-person {
    width: 32.5vw;
  }

  #div-name {
    font-size: 3vw;
  }

  .name {
    font-size: 2.8vw;
  }

  .txt-title {
    font-size: 5vw;
  }

  #person {
    height: 45vw;
  }

  .paragraph {
    font-size: 3.2vw;
  }

  #project {
    height: 35vw;

  }
}