<div id="div-bg">
  <div class="container" id="person">
    <div class="wrap">
      <div id="txt-title">Key Person</div>
      <img class="img-person" id="k1" src="../../assets/images/key-person/k1.png" alt="key1">
      <img class="img-person" id="k2" src="../../assets/images/key-person/k2.png" alt="key2">
    </div>
    <div id="div-name">
      <h2 id="name-key1">Ir. Zuwendra</h2>
      <h2 id="name-key2">Rinto Andhi Suncoko, M.Si</h2>
    </div>
  </div>
  <div class="container" id="project">
  </div>
</div>