#div-img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/title.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

#div-title {
  width: 100%;
  height: 180px;
  background-color: rgba(64, 99, 67, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container {
  width: 1000px;
}

#title2 {
  font-family: 'Kadwa';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 104.78%;
  color: #FFFFFF;
}

#title1 {
  font-family: 'Kadwa';
  font-style: normal;
  font-weight: 700;
  margin: 0;
  font-size: 50px;
  line-height: 104.78%;
  color: #FFFFFF;
}

@media screen and (max-width: 1000px) {


  #title2 {
    font-size: 2.65vw;
  }

  #title1 {
    font-size: 3.8vw;
  }

  #div-title {
    height: 18vw;
  }
}