<div id="div-bg">
  <div class="div-child">
    <div>
      <div class="txt" id="title1">Contact</div>
      <div class="txt" id="title2">Us</div>
      <p class="txt" id="telp">Phone: 081 684 5819</p>
      <p class="txt address" id="street">Jl. Duta No. 10</p>
      <p class="txt address">RT.001/RW.003,</p>
      <p class="txt address">Bintaro,</p>
      <p class="txt address">Kecamatan</p>
      <p class="txt address">Pasanggrahan,</p>
      <p class="txt address">Kota Jakarta Selatan,</p>
      <p class="txt address">DKI Jakarta 12330</p>
      <div class="div-sosmed">
        <img
          class="sosmed"
          id="w"
          src="../../assets/images/sosmed/Whatsapp.png"
          alt="Whatsapp"
        />
        <img
          class="sosmed"
          id="f"
          src="../../assets/images/sosmed/Facebook.png"
          alt="Facebook"
        />
        <img
          class="sosmed"
          id="i"
          src="../../assets/images/sosmed/Instagram.png"
          alt="Instagram"
        />
        <img
          class="sosmed"
          id="y"
          src="../../assets/images/sosmed/Youtube.png"
          alt="Youtube"
        />
      </div>
    </div>
  </div>
</div>
